<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etang.nt_launcher">
    <!-- 网络连接权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 本人猜测指允许接收当用户出现，即检测屏幕点亮广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- 关闭进程权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 检查网络连接权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检查无线网络连接权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 读取本地文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="奶糖桌面"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".launcher.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.settings.hindapp.HindAppSetting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".locked.FakerLockedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.about.CoolApkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.about.FucherActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.wather.WeatherSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.desktopsetting.DeskTopSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.about.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.launcherimage.ChoseImagesActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".launcher.settings.uninstallapk.UnInstallActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".launcher.settings.wather.WatherActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".launcher.settings.textsizesetting.TextSizeSetting"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>