<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etang.nt_launcher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="奶糖桌面"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.etang.nt_eink_launcher.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.etang.nt_eink_launcher.locked.FakerLockedActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.CoolApkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.FucherActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.WeatherSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.DeskTopSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.ChoseImagesActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.UnInstallActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name="com.etang.nt_eink_launcher.settingsactivity.WatherActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
    </application>

</manifest>