<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etang.nt_launcher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="奶糖桌面"
        android:screenOrientation="portrait"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".launcher.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.settings.uirefresh.WhiteActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.uirefresh.BlackActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.hindapp.HindAppSetting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".locked.FakerLockedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.wather.WeatherSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.desktopsetting.DeskTopSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.about.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.launcherimage.ChoseImagesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.wather.WatherActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".launcher.settings.textsizesetting.TextSizeSetting"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>